.ForgetPassword{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ForgetPassword-form{
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 30px;
    font-size: 20px;
}

.ForgetPassword label{
    padding: 10px;

}

.ForgetPassword input{
    padding: 5px;
    min-width: 100%;
    width: 300px
}

.ForgetPassword-button{
    margin-top: 20px;
    padding: 10px 20px;
    width: 50%;
}