*{
    padding: 0;
    margin: 0;
}

.Home{
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url('../images/frontend_webdeveloper.jpg');
    height:calc(100vh - 80px);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.big-text{
    text-align: center;
    color: #fff;
    text-transform: capitalize;
    font-size: 80px;
    line-height: 60px;
    margin-bottom: 10px;
}

.small-text{
    text-align: center;
    color: #fff;
    font-size:20px;
}