.UpdateStaff{
    width: 100%;
}

.update-body{
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.update-body label{
    margin: 10px;
}

.update-body input,
.update-body textarea{
    margin: 10px 0px;
    padding: 10px;
    width: 50%;
}

.update-body select{
    width: 150px;
    padding: 10px;
}

.update-body button{
    width: 150px;
    padding: 10px 20px;
    margin: 20px 100px;
}